{% extends 'base.html.twig' %}

{% block title %}Restaurants
{% endblock %}

{% block body %}
	{% include('sliderRestaurant.html.twig') %}
	<div class='container'>
		<br/>
		<center>
			<h1>Savourer</h1>
		</center>


		<div class="row justify-content-around">
		{% for category in categories %}
			<div class="col-4">
				<a href="{{ path('category_show', {'id': category.id}) }}">
					<h3>{{ category.title }}</h3>
					<img style="margin:10px 5px 10px 5px" class="card-img-top" src="{{ category.picture }}" alt="Card image cap">
				</a>
			</div>
		{% endfor %}
			

		</div>
	</div>
{% endblock %}
