{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}


<div class="container">
<h1>Bienvenue dans ce blog</h1>

<p>Fringilla lectus, at eleifend lacus pulvinar congue. In porta mi sit amet ligula bibendum, vel consectetur metus tempus. Etiam fringilla diam a condimentum sodales. Vestibulum eleifend libero vitae metus fermentum, vel maximus sapien mollis. Maecenas sagittis nisl velit, eu posuere mauris vestibulum ornare. Vivamus luctus libero lacus, ac dapibus nunc semper vitae. Etiam dapibus eu orci quis tempor. Sed sodales ornare arcu, id semper sem convallis quis. Donec viverra metus non vulputate imperdiet. Maecenas varius viverra dapibus. Sed aliquam ante sed nulla sagittis, ut cursus justo varius. Praesent varius tempor ante, vitae vehicula justo egestas non.</p>

<p>Mauris pharetra nibh felis, quis dignissim tellus molestie vitae. Nullam rutrum aliquet ante et ultrices. Aliquam fermentum tempor erat, eu rutrum sem sodales a. Morbi condimentum lectus vitae laoreet blandit. Donec dapibus purus justo, ut dictum nisl faucibus ut. Mauris et tellus eu dolor sollicitudin elementum. Nam in volutpat ante. Aenean sed magna non nisi ullamcorper porttitor. Nulla ut commodo sem. Etiam hendrerit aliquet neque eget vulputate. Nam nec sapien lorem. Quisque tellus eros, luctus nec ligula eu, euismod tempor libero.</p>
<br/>
<a href="{{ path('blog') }}" class="btn btn-primary">Lire les articles</a>


</div>
{% endblock %}