{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!
{% endblock %}

{% block body %}
	<div style="overflow:hidden" class="container">
			{% include('sliderBlog.html.twig') %}
			<br/>
			<br/>


	<section class="articles">
		<div class="row">
				{% for article in articles %}
					<div class="col-3">
					
						<h6 style="position: absolute;color:white;
														  top: 80%;
														  left: 40%;
														  transform: translate(-50%, -50%);">{{ article.title }}</h6>

						<a href="{{ path('article', {'id': article.id }) }}"><img class="zoom" width="350px" src="{{ article.image }}" alt="Photo de l'article"></a>

					</div>
				{% endfor %}


				
				<br/>
				<br/>

			</section>

		</div>
	{% endblock %}
