{% extends 'base.html.twig' %}

{% block title %}Restaurants{% endblock %}

{% block body %}
    <div class='container'>
  
  
  <div class="row justify-content-around">


	{% for restaurant in restaurants %}
  <div class="col-3">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src={{ restaurant.photo }} alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ restaurant.name }}</h5>
        <p class="card-text">{{ restaurant.adress }}</p>
        <a href="{{ path('restaurant_detail', {'id': restaurant.id }) }}" class="btn btn-primary">Plus d'infos</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</div>

{% endblock %}
