{% extends 'base.html.twig' %}

{% block title %}Nouveaux Restaurant{% endblock %}

{% block body %}
    <h1>Créer un nouveau restaurant</h1>

    {{ include('restaurant/_form.html.twig') }}

    <a href="{{ path('restaurant_index') }}">Retour à la liste</a>
{% endblock %}
