	<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:white !important">


		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/">
						<h6><i class="fas fa-home right"></i>Description</h6>
					</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/">
						<h6><i class="fas fa-image right"></i>Photo</h6>
					</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/">
						<h6><i class="fas fa-book-open right"></i>Carte</h6>
					</a>
				</li>
			</ul>
		</div>
	</nav>

