{% extends 'base.html.twig' %}

{% block title %}Modifier un article</h1>
{% endblock %}

{% block body %}
<div class="container">

    <h1>Modifier un article</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('article_index') }}" class="btn btn-primary">Retour à la liste des articles</a>

    {{ include('article/_delete_form.html.twig') }}
    </div>
{% endblock %}
